# Enable rewrite engine
RewriteEngine On

# Redirect to HTTPS and non-www
RewriteCond %{HTTP_HOST} ^www\.whitefiretechnologies\.com [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://whitefiretechnologies.com/$1 [L,R=301]

# Cache static content for faster loading
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType text/html "access plus 1 week"
</IfModule>

# Disable directory listing
Options -Indexes
